header { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 51px 33px;
    height: 140px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    nav { 
        display: flex;
        gap: 69px;
        
        ul { 
            font-size: 21px;
            height: 100%;
            
        }
    }

    .s-login { 
        display: flex;
        align-items: center;
        font-size: 21px;
        gap: 15px;
    }
    
}